//theme color
$primary: #16425b;
$secondary: #b7c7d2;
$secondary_1: #f0f2f5;
$secondary_2: #206084;

//properties
$white: #ffffff;
$black: #2c2d30;
$gray: #9e9e9e;

//special
$disabled: #cccccc;
$safe: #4caf50;
$danger: #f44336;
$link: #4f83f2;
$footer: #e7ebf2;
$highlighted_warning: #ffad00;
